<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Movie Detail</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content class="outer-content" *ngIf="$movieDetail | async; let movie"> -->
<ion-content class="outer-content" *ngIf="movieDetail$ | async as movie">
  <ion-grid fixed style="height: 50vh">
    <ion-row class="ion-align-items-center" style="height: 50vh">
      <ion-col size-lg="6" offset-lg="3" size-md="10" offset-md="1">
        <ion-card *ngIf="movie">
          <ion-item lines="none">
            <h3 style="margin: auto 0px"><b>{{ movie?.title }}</b></h3>
            <ion-chip color="tertiary" slot="end">
              <ion-icon
                *ngIf="!movie.genreImage"
                name="pricetag"
                color="tertiary"
              ></ion-icon>
              <ion-img
                *ngIf="movie.genreImage"
                [src]="movie.genreImage"
                class="genre-image"
              ></ion-img>
              <ion-label>{{ movie?.genre }}</ion-label>
            </ion-chip>
          </ion-item>
          <ion-item
            lines="none"
            class="poster"
            class="ion-no-padding"
            style="padding-top: 10px"
          >
            <img
              *ngIf="movie.poster"
              [src]="movie?.poster"
              height="300px"
              alt="Movie Poster Detail Page"
              (error)="handleMissingImage($event)"
            />
          </ion-item>
          <ion-card-content class="sub-info ion-no-padding">
            <ion-item *ngIf="movie?.notes" class="ion-no-padding">
              <ion-grid>
                <ion-row>
                  <ion-col size="2">
                    <ion-icon
                      class="icon"
                      name="information-circle-outline"
                    ></ion-icon>
                  </ion-col>
                  <ion-col>
                    <p class="text">{{ movie?.notes }}</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

            <ion-item *ngIf="movie.cast.length !== 0" class="ion-no-padding">
              <ion-grid>
                <ion-row>
                  <ion-col size="2">
                    <ion-icon class="icon" name="people"></ion-icon>
                  </ion-col>
                  <ion-col>
                    <p class="text">{{ movie?.cast }}</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-card-content>

          <!-- begin like comment amount -->
          <ion-row>
            <ion-item style="width: 100%" class="ion-no-padding">
              <ion-button small *ngIf="movie.likes" style="margin-left: 12px">
                <ion-icon slot="start" name="thumbs-up"></ion-icon>
                {{ movie?.likes }} Likes
              </ion-button>
              <ion-button
                style="padding-right: 10px"
                small
                *ngIf="movie.comments"
                (click)="onClickShowComment()"
              >
                <ion-icon slot="start" name="chatbubble-ellipses"></ion-icon>
                {{ movie?.comments.length }} Comments
              </ion-button>
              <ion-badge color="tertiary" slot="end">
                {{ movie?.year }}
              </ion-badge>
            </ion-item>
          </ion-row>

          <!-- begin like comment buttons -->
          <ion-row>
            <ion-col col-auto class="ion-text-left">
              <ion-button
                fill="clear"
                size="small"
                color="primary"
                (click)="onClickLike()"
              >
                <ion-icon name="thumbs-up" slot="start"></ion-icon>
                Like
              </ion-button>
            </ion-col>
            <ion-col col-auto class="ion-text-right">
              <ion-button
                fill="clear"
                size="small"
                color="primary"
                (click)="onClickComment()"
              >
                <ion-icon name="chatbubbles" slot="start"></ion-icon>
                Comment
              </ion-button>
            </ion-col>
            <!-- <ion-col col-auto class="ion-text-center">
              <ion-button
                fill="clear"
                size="small"
                color="primary"
                (click)="onClickFavorite()"
              >
                <ion-icon name="heart" slot="start"></ion-icon>
                Favorite
              </ion-button>
            </ion-col> -->
            <!-- <ion-col col-auto class="ion-text-center">
              <ion-button
                fill="clear"
                size="small"
                color="primary"
                (click)="onClickShare()"
              >
                <ion-icon name="share-social" slot="start"></ion-icon>
                Share
              </ion-button>
            </ion-col> -->
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
