ion-item img {
  margin: auto;
}

ion-chip {
  height: auto;
}

.sub-info {
  .icon {
    font-size: 25px;
  }

  .text {
    font-style: italic;
  }

  ion-row {
    align-items: center;
    padding-left: 12px;
  }
}
